*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #303030;
}
h1 {
    font-weight: 700;
    padding: 20px;
    border: 10px solid lightblue;
    width: 20%;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.boxes {
    height: 200px;
    background-color: lightblue;
    padding: 20px;
}

h2 {
    color: white;
}
.box {
    height: 60px;
    width: 33.33333%;
    border: 10px solid white;
    text-align: center;
    float: left;
}

.box1 {
    background-color: lightgreen;
}

.box2 {
    background-color: orangered;
}

.box3 {
    background-color: #303030;
}