*{
    padding: 0;
    margin: 0;
    background-color: #303030;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.box {
    width: 40%;
    background-color: aqua;
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
}

.left {
    float: left;
}

.right { 
    float: right;
}

.box2 {
    margin-top: 10px;
    width: 20%;
    height: 60%;
}
.red {
    background-color: red;
    z-index: 2;
    position: absolute;
}
.blue{ 
    background-color: blue;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 1;
}

div {
    margin-top: 20px;
    width: 200px;
    height: 100px;
}