*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.circle{
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: linear-gradient(45deg, #FFCCCC, #CCFFFF);
}
.right {
    position: relative;
    left: 220px;
    bottom: 120px;
    transform: scale(2);
}
