<div class="news-card z-depth-1" itemscope itemtype="http://schema.org/NewsArticle">
    <div class="news-card-image" style="background-image: url('https://assets.inshorts.com/inshorts/images/v1/variants/jpg/s/2018/10_oct/12_fri/img_1539314294740_973.jpg?resize=400px:*')">
    </div>
    <div class="news-card-title news-right-box">
        <a class="clickable" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'TitleOfNews', 'eventAction': 'clicked', 'eventLabel': 'Congress%20leader&#39;s%20wife%20quits%20to%20join%20BJP%2C%20returns%20in%2010%20hours)' });"
            style="color:#44444d!important" href="/en/news/congress-leaders-wife-quits-to-join-bjp-returns-in-10-hours-1539316836801">
            <span itemprop="headline">Congress leader&#39;s wife quits to join BJP, returns in 10 hours</span>
        </a>
        <div class="news-card-author-time news-card-author-time-in-title">
            <span class="short">short</span> by <span class="author">Gaurav Shroff</span> /
            <span class="time" itemprop="datePublished" content="2018-10-12T04:00:36.000Z">09:30 am</span> on <span
                clas="date">12 Oct 2018,Friday</span>
        </div>
    </div>
    <div class="news-card-content news-right-box">
        <div itemprop="articleBody">Padmini Reddy, wife of senior Telangana Congress leader Damodar Raja Narasimha,
            quit Congress to join rival BJP on Thursday noon and returned to her party after 9 PM. Raja Narasimha is
            the former Deputy Chief Minister of undivided Andhra Pradesh. &#34;I have understood the feelings of the
            Congress party workers. I am taking my decision back,&#34; Padmini said on returning.</div>
        <div class="news-card-author-time news-card-author-time-in-content">
            <span class="short">short</span> by <span class="author">Gaurav Shroff</span> /
            <span class="time">09:30 am</span> on <span clas="date">12 Oct</span>
        </div>
    </div>

    <div class="news-card-footer news-right-box">
        <div class="read-more">read more at <a class="source" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'ReadMore', 'eventAction': 'clicked', 'eventLabel': 'The%20News%20Minute' });"
                target="_blank" href="https://www.thenewsminute.com/article/ex-dy-cm-s-wife-padmini-reddy-joins-telangana-bjp-returns-congress-within-hours-89834?utm_campaign=fullarticle&amp;utm_medium=referral&amp;utm_source=inshorts ">The
                News Minute</a></div>
    </div>

</div>